<div class="page-wrapper">
  <div *ngIf="isLoadingProduct && !error" class="loader-wrapper animate-opacity">
    <div class="loader">
      <span></span>
      <span></span>
      <span></span>
    </div>
    Loading...
  </div>
  <div class="alert alert-danger general-error-container animate-opacity" *ngIf="error">
    <h4>An error occurred:</h4>
    <p>{{error}}</p>
    <button type="button" class="btn btn-danger" (click)="onHandleError()">Back to catalog</button>
  </div>
  <div class="p-details-container" *ngIf="product !== null">
    <div class="p-details-container-header">
      <a routerLink="/products" class="p-link-item"><i class="fa fa-arrow-left"></i></a>
      {{product.name}}
    </div>
    <div class="p-details-container-body">
      <div class="p-image-wrapper">
        <div class="p-state-container state-available" *ngIf="product.active">
          <i class="fa fa-check"></i> Available
        </div>
        <div class="p-state-container state-unavailable" *ngIf="!product.active">
          <i class="fa fa-ban"></i> Unavailable
        </div>
        <div class="p-image" [style.background-image]="'url('+product.imageUrl+')'"></div>
      </div>
      <div class="p-details-btns">
        <button class="btn-p-details"><i class="fa fa-cart-plus"></i> To cart</button>
        <button class="btn-p-details"><i class="fa fa-list-alt"></i> Wishlist</button>
      </div>
      <div class="p-general-info">
        <div class="p-general-info-header">
          <h1>General Info</h1>
        </div>
        <div class="p-general-info-body">
          <p class="p-platform-container">
            Platform:
            <a class="p-link-item"
                         [routerLink]="['/products']"
                         [queryParams]="{platform: product.productPlatform.name}">{{product.productPlatform.name | firstToUpper}}
          </a>
          </p>
          <p>Price: {{product.price | currency: 'EUR'}}</p>
          <div class="p-videogame-details">
            <button class="btn-collapse-genres btn-genres-main"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseGenres"
                    aria-expanded="false"
                    aria-controls="collapseGenres"><i class="fa fa-arrow-down"></i> Genres</button>
            <div class="collapse genres-collapse show" id="collapseGenres">
              <a class="p-link-item" *ngFor="let genre of productAsVideoGame.genres">{{genre.genreName | uppercase}}</a>
            </div>
            <p>Release Date: {{productAsVideoGame.releaseDate}}</p>
          </div>
        </div>
      </div>
      <div class="p-tab-container">
        <ul class="nav nav-tabs p-tabs" id="pTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#systemReq" role="tab" aria-controls="systemReq" aria-selected="false">System Requirements</a>
          </li>
        </ul>
        <div class="tab-content" id="pTabContent">
          <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            {{product.description}}
          </div>
          <div class="tab-pane fade" id="systemReq" role="tabpanel" aria-labelledby="systemReq-tab">
            {{product.systemRequirements}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
