<div class="component-holder">
  <div *ngIf="isLoadingProduct && !getProductError" class="loader-wrapper animate-opacity">
    <div class="loader">
      <span></span>
      <span></span>
      <span></span>
    </div>
    Loading...
  </div>
  <div class="alert alert-danger general-error-container" [@inOutAnimation] *ngIf="getProductError">
    <h4><i class="fa fa-exclamation-triangle"></i> Ups... an error:</h4>
    <p>{{getProductError}}</p>
    <div class="d-flex justify-content-around align-items-center">
      <a class="btn btn-danger"><i class="fa fa-arrow-left"></i> Manage products</a>
      <button class="btn btn-danger" (click)="handleProductError()"><i class="fa fa-refresh"></i> Try again</button>
    </div>
  </div>
  <div class="alert alert-danger general-error-container" [@inOutAnimation] *ngIf="genreServerError">
    <h4><i class="fa fa-exclamation-triangle"></i> Ups... an error:</h4>
    <p>{{genreServerError}}</p>
    <button class="btn btn-danger" (click)="navigateToProductManage()"><i class="fa fa-arrow-left"></i> Manage products</button>
  </div>
  <div class="alert alert-danger general-error-container" [@inOutAnimation] *ngIf="platformServerError">
    <h4><i class="fa fa-exclamation-triangle"></i> Ups... an error:</h4>
    <p>{{platformServerError}}</p>
    <button class="btn btn-danger" (click)="navigateToProductManage()"><i class="fa fa-arrow-left"></i> Manage products</button>
  </div>
  <form class="product-form " [@inOutAnimation] [formGroup]="editForm" (ngSubmit)="onEditProductSubmit()" *ngIf="product !== null">
    <div class="form-group group-type">
      <p class="property-type" *ngIf="productType === 'videogame'">Type: <i class="fa fa-gamepad"></i> Video Game</p>
      <p class="property-type" *ngIf="productType === 'softwareproduct'">Type: <i class="fa fa-tasks"></i> Software Product</p>
    </div>
    <div class="form-group group-name">
      <label for="formControlInput1">Name</label>
      <input type="text"
             class="form-control"
             id="formControlInput1"
             formControlName="name">
      <div class="alert alert-danger" [@inOutAnimation] *ngIf="name.touched && name.invalid">
        <div *ngIf="name.errors.required"><i class="fa fa-exclamation-triangle"></i> Name is not filled</div>
        <div *ngIf="name.errors.minlength"><i class="fa fa-exclamation-triangle"></i> Minimum length is {{name.errors.minlength.requiredLength}}</div>
        <div *ngIf="name.errors.maxlength"><i class="fa fa-exclamation-triangle"></i> Maximum length is {{name.errors.maxlength.requiredLength}}</div>
      </div>
    </div>
    <div class="form-group group-state">
      <label>Product state</label>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="active" (change)="onProductStateChange()">
        <label class="custom-control-label" for="customSwitch1">{{displayProductStateMsg()}}</label>
      </div>
    </div>
    <div class="form-group group-platform">
      <label for="formControlSelect2">Platform</label>
      <select class="form-control"
              id="formControlSelect2"
              formControlName="productPlatform">
        <option *ngFor="let platform of platforms">{{platform.name | firstToUpper}}</option>
      </select>
    </div>
    <div class="form-group group-price">
      <label for="formControlInput2">Price</label>
      <input type="text"
             class="form-control"
             id="formControlInput2"
             formControlName="price">
      <div class="alert alert-danger" [@inOutAnimation] *ngIf="price.touched && price.invalid">
        <div *ngIf="price.errors.required"><i class="fa fa-exclamation-triangle"></i> Price is not filled</div>
        <div *ngIf="price.errors.cannotContainSpace"><i class="fa fa-exclamation-triangle"></i> Price cannot contain spaces</div>
        <div *ngIf="price.errors.pattern"><i class="fa fa-exclamation-triangle"></i> Price must be a positive number</div>
      </div>
    </div>
    <div class="form-group group-description">
      <label for="formControlTextarea1">Description</label>
      <textarea class="form-control"
                id="formControlTextarea1"
                rows="7"
                formControlName="description"></textarea>
      <div class="alert alert-danger" [@inOutAnimation] *ngIf="description.touched && description.invalid">
        <div *ngIf="description.errors.required"><i class="fa fa-exclamation-triangle"></i> Description is not filled</div>
        <div *ngIf="description.errors.maxlength"><i class="fa fa-exclamation-triangle"></i> Maximum length is {{description.errors.maxlength.requiredLength}}</div>
      </div>
    </div>
    <div class="form-group group-systemReq">
      <label for="formControlTextarea2">System Requirements</label>
      <textarea class="form-control"
                id="formControlTextarea2"
                rows="7"
                formControlName="systemRequirements"></textarea>
      <div class="alert alert-danger" [@inOutAnimation] *ngIf="systemRequirements.touched && systemRequirements.invalid">
        <div *ngIf="systemRequirements.errors.required"><i class="fa fa-exclamation-triangle"></i> System Requirements is not filled</div>
        <div *ngIf="systemRequirements.errors.maxlength"><i class="fa fa-exclamation-triangle"></i> Maximum length is {{systemRequirements.errors.maxlength.requiredLength}}</div>
      </div>
    </div>
    <div class="form-group image-group">
      <label>Image</label>
      <div class="image-group-content">
        <div class="nav flex-column nav-pills" id="v-pills-tab-image" role="tablist" aria-orientation="vertical">
          <a class="nav-link btn-product-form" id="v-pills-upload-tab" data-toggle="pill" href="#v-pills-upload" role="tab" aria-controls="v-pills-upload" aria-selected="false" (click)="updateFileUploadMode('uploadImage')">Upload</a>
          <a class="nav-link btn-product-form active" id="v-pills-link-tab" data-toggle="pill" href="#v-pills-image" role="tab" aria-controls="v-pills-link" aria-selected="true" (click)="updateFileUploadMode('url')">Link</a>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade" id="v-pills-upload" role="tabpanel" aria-labelledby="v-pills-upload-tab" *ngIf="fileUploadMode === 'uploadImage'">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile" accept=".jpg, .jpeg, .png" (change)="handleFile($event.target.files)">
              <label class="custom-file-label" for="customFile">Choose file</label>
              <div class="alert alert-danger" *ngIf="!validateUploadFile()">
                <div><i class="fa fa-exclamation-triangle"></i> File is missing or it's not an image</div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show active" id="v-pills-image" role="tabpanel" aria-labelledby="v-pills-link-tab" *ngIf="fileUploadMode === 'url'">
            <div class="form-group">
              <input type="text"
                     class="form-control"
                     id="formControlInput3"
                     formControlName="fileUrl">
              <div class="alert alert-danger" [@inOutAnimation] *ngIf="fileUrl.touched && fileUrl.invalid">
                <div *ngIf="fileUrl.errors.required"><i class="fa fa-exclamation-triangle"></i> Image url is not filled</div>
                <div *ngIf="fileUrl.errors.maxlength"><i class="fa fa-exclamation-triangle"></i> Maximum length is {{fileUrl.errors.maxlength.requiredLength}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group group-genre" [@inOutAnimation] *ngIf="productType === 'videogame'">
      <label>Genres</label>
      <div class="genre-holder" id="genre-list">
        <button type="button"
                class="btn-product-form"
                [id]="'genre-'+genre.id"
                *ngFor="let genre of genres"
                (click)="toggleGenre(genre)"
                [class.active]="checkIfGenreIsActive(genre)">{{genre.genreName | uppercase}}</button>
      </div>
      <div class="alert alert-danger" [@inOutAnimation] *ngIf="selectedGenres.length === 0">
        <div><i class="fa fa-exclamation-triangle"></i> No genre selected. Minimum is one genre</div>
      </div>
    </div>
    <div class="form-group group-releaseDate" [@inOutAnimation] *ngIf="productType === 'videogame'">
      <label for="formControlInput4">Release Date</label>
      <input type="text"
             class="form-control"
             id="formControlInput4"
             formControlName="releaseDate">
      <div class="alert alert-danger" [@inOutAnimation] *ngIf="releaseDate.touched && releaseDate.invalid">
        <div *ngIf="releaseDate.errors.required"><i class="fa fa-exclamation-triangle"></i> Release date is not filled</div>
        <div *ngIf="releaseDate.errors.maxlength"><i class="fa fa-exclamation-triangle"></i> Maximum length is {{releaseDate.errors.maxlength.requiredLength}}</div>
        <div *ngIf="releaseDate.errors.pattern"><i class="fa fa-exclamation-triangle"></i> Release date is not valid, try the fallowing pattern yyyy/mm/dd</div>
      </div>
    </div>
    <div class="form-group btn-main-group">
      <button type="button" class="btn-product-form">Cancel</button>
      <button type="submit" class="btn-product-form" [disabled]="editForm.invalid || !validateSelectedGenres() || !validateFile()">Submit</button>
    </div>
    <div class="alert alert-danger creationError" [@inOutAnimation] *ngIf="editForm.errors">
      <div class="d-flex flex-column justify-content-center align-items-center" *ngIf="editForm.errors.invalidUpdateProduct">
        <p><i class="fa fa-exclamation-triangle">{{errorUpdateProduct}}</i></p>
        <button class="btn btn-outline-dark btn-error-creation" (click)="handleUpdateError()"><i class="fa fa-refresh"></i> Try editing again</button>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center" [@inOutAnimation] *ngIf="editForm.errors.invalidImageUpload">
        <p><i class="fa fa-exclamation-triangle"></i> Error: The image upload failed, select another image</p>
        <p>Reason: {{errorUploadImage}}</p>
        <button class="btn btn-outline-dark btn-error-creation" (click)="handleUploadError()"> <i class="fa fa-refresh"></i> Try editing again</button>
      </div>
    </div>
  </form>
</div>

