<button class="btn-filter btn-filter-main"
        type="button"
        data-toggle="collapse"
        data-target="#collapsePlatforms"
        aria-expanded="false"
        aria-controls="collapsePlatforms"><i class="fa fa-arrow-down"></i> Platforms</button>
<div class="collapse platform-collapse a" id="collapsePlatforms">
  <div *ngIf="isLoadingPlatforms && !error" class="loader-wrapper animate-opacity">
    <div class="loader">
      <span></span>
      <span></span>
      <span></span>
    </div>
    Loading...
  </div>
  <button class="btn-platform-item" type="button"
     [class.active]="checkIfPlatformIsActive(productPlatform.name)"
     *ngFor="let productPlatform of platforms" (click)="onPlatformSubmit(productPlatform.name)">{{productPlatform.name | firstToUpper}}</button>
  <button class="btn-platform-item"
          type="button"
          [class.active]="checkIfPlatformIsActive('all')"
          (click)="onPlatformSubmit('all')"> All</button>
</div>
<div class="alert alert-danger general-error-container" [@inOutAnimation] *ngIf="error">
  <h4>An error occurred:</h4>
  <p>{{error}}</p>
  <button class="btn btn-danger" (click)="onHandleError()">Okay</button>
</div>

