.search-container{
  position: fixed;
  top: 50px;
  left: 0px;
  min-width: 100%;
  z-index: 102;
}

.search-container.show{
  grid-area: searchArea;
  display: flex;
  min-width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: center;
  box-shadow: 0 1px 6px 0 #151515;
}

.search-container .input-group{
  width: 100%;
}

.btn-search-show{
  position: fixed;
  top: 6px;
  left: 120px;
  transition: all .2s ease-in-out;
  z-index: 101;
  background-color: #212529;
  border: 1px solid #5d5d5d;
  border-radius: 10px;
  color: #e7e7e7;
  font-size: 1.3rem;
}

#button-search{
  background-color: #212529;
  border: 1px solid #5d5d5d;
}

.btn-search-show:hover,
#button-search:hover{
  border: 1px solid #0066ff;
  color: #0066ff;
}

.search-input{
  border: 1px solid #5d5d5d;
  background-color: rgba(33, 37, 41, 0.8);
  color: #e7e7e7;
}

.search-input:focus{
  border-color: #043dd6;
  box-shadow: 0 1px 6px 0px #043dd6;
}
@media only screen and (min-width : 1200px){
  .search-container{
    position: fixed;
    top: 4px;
    left: 168px;
    z-index: 102;
    min-width: 300px;
  }

  .search-container.show{
    min-width: 300px;
  }

  .search-container .input-group{
    width: 300px;
  }
}
