<div class="home-wrapper">
  <div class="card text-white bg-dark mb-3 text-center m-3" [@inOutAnimation]>
    <div class="card-header">
      Welcome
    </div>
    <div class="card-body">
      <h5 class="card-title">This is the home page</h5>
      <p class="card-text">Still in development.Check out the products page </p>
      <a class="btn btn-primary" [routerLink]="['/products']">Go to products</a>
    </div>
    <div class="card-footer text-muted">
      From BluDevil
    </div>
  </div>
</div>
