.search-container{
  position: fixed;
  top: 50px;
  left: 0px;
  min-width: 100%;
  z-index: 102;
}

.search-container.collapsing{
  display: flex;
}

.search-container.show{
  grid-area: searchArea;
  display: flex;
  min-width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: center;
  box-shadow: 0 1px 6px 0 #151515;
}

.search-container .input-group{
  width: 100%;
}

.btn-search-show{
  position: fixed;
  top: 6px;
  left: 120px;
  transition: all .2s ease-in-out;
  z-index: 101;
  background-color: #212529;
  border: 1px solid #5d5d5d;
  border-radius: 10px;
  color: #e7e7e7;
  font-size: 1.3rem;
}

#button-search{
  background-color: #212529;
  border: 1px solid #5d5d5d;
  transition: 0.3ms;
}

.btn-search-show:hover,
#button-search:hover{
  border: 1px solid #0066ff;
  color: #0066ff;
}

.search-input{
  border: 1px solid #5d5d5d;
  background-color: rgba(33, 37, 41, 0.95);
  color: #e7e7e7;
}

.search-input:focus{
  border-color: #043dd6;
  box-shadow: 0 1px 6px 0px #043dd6;
}

.property-search-select{
  min-width: 120px;
  background-color: #212529;
  border-radius: .25rem;
  border: 1px solid rgba(255, 255, 255, 0.06);
}

.property-search-select .form-group{
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: #e7e7e7;
}

.property-search-select .form-group label{
  margin: 0;
}

.property-search-select #searchOptions{
  width: 120px;
  color: #e7e7e7;
  background-color: rgba(255, 255, 255, 0.02);
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.property-search-select #searchOptions:hover{
  text-shadow: -1px -1px 10px #013992,1px 1px 5px #013992;
  box-shadow: 0 1px 6px 3px #02266b;
}

.property-search-select #searchOptions:focus{
  outline: 0;
  box-shadow: 0 1px 6px 2px #02266b;
  border: 2px solid #0037a5;
  text-shadow: -1px -1px 10px #013992,1px 1px 10px #013992;
}

.property-search-select #searchOptions option{
  background-color: #212529;
}
@media only screen and (min-width : 1200px){
  .search-container{
    position: fixed;
    top: 4px;
    left: 168px;
    z-index: 102;
  }

  .search-container.show{
    min-width: 300px;
  }

  .search-container .input-group{
    width: 300px;
  }
}
