<div class="all-stats-wrapper">
  <div class="general-total-stats" id="total-stats-wrapper" [@inOutAnimation]>
<!--    User total-->
    <div class="total-container">
      <i class="fa fa-user"></i>
      <div class="total-details">
        <p class="total-title">Total Users:</p>
        <p class="total-value">{{totalUsers}}</p>
      </div>
    </div>
<!--    Product total-->
    <div class="total-container">
      <i class="fa fa-product-hunt"></i>
      <div class="total-details">
        <p class="total-title">Total Products:</p>
        <p class="total-value">{{totalProducts}}</p>
      </div>
    </div>
<!--    Views total-->
    <div class="total-container">
      <i class="fa fa-eye"></i>
      <div class="total-details">
        <p class="total-title">Total Views:</p>
        <p class="total-value">{{totalViews}}</p>
      </div>
    </div>
  </div>
  <div class="stats-container" id="user-stat-container">
    <div class="stats-header">
      <i class="fa fa-users"></i>
      <p class="stats-title">User statistics</p>
    </div>
    <div class="stats-body" [@inOutAnimation]>
      <div class="daily-stats">
        <p class="daily-title">Daily</p>
        <div class="daily-container-list" [@inOutAnimation]>
          <div class="daily-container">
            <p class="daily-container-value">{{dailyRegisteredUsers}}</p>
            <p class="daily-container-title" id="daily-users-title">Registered</p>
          </div>
          <div class="daily-container">
            <p class="daily-container-value">{{dailyViews}}</p>
            <p class="daily-container-title" id="daily-views-title">Views</p>
          </div>
        </div>
      </div>
      <div class="general-stats">
        <p class="general-title">Roles</p>
        <button class="btn-total-drop"
                type="button"
                data-toggle="collapse"
                data-target="#collapseRolesPieTotal"
                aria-expanded="false"
                aria-controls="collapseRolesPieTotal"><i class="fa fa-pie-chart"></i> Total</button>
        <div class="collapse" id="collapseRolesPieTotal">
          <div class="pie-total-holder">
            <div class="pie-total-item" *ngFor="let data of userRatioData">
              {{data.name}}: {{data.value}}
            </div>
          </div>
        </div>
        <ngx-charts-pie-chart
          [results]="userRatioData"
          [legend]="false"
          [view]="[300, 200]"
          [labels]="true"
          [customColors]="userRatioDataColors">
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>
  <div class="stats-container" id="product-stat-container">
    <div class="stats-header">
      <i class="fa fa-users"></i>
      <p class="stats-title">Product statistics</p>
    </div>
    <div class="stats-body" [@inOutAnimation]>
      <div class="general-stats">
        <p class="general-title">Product Platforms</p>
        <button class="btn-total-drop"
                type="button"
                data-toggle="collapse"
                data-target="#collapsePlatformsPieTotal"
                aria-expanded="false"
                aria-controls="collapsePlatformsPieTotal"><i class="fa fa-pie-chart"></i> Total</button>
        <div class="collapse" id="collapsePlatformsPieTotal">
          <div class="pie-total-holder">
            <div class="pie-total-item" *ngFor="let data of productPlatformData">
              {{data.name}}: {{data.value}}
            </div>
          </div>
        </div>
        <ngx-charts-pie-chart
          [results]="productPlatformData"
          [legend]="false"
          [view]="[300, 200]"
          [labels]="true"
          [doughnut]="true"
          [gradient]="true">
        </ngx-charts-pie-chart>
      </div>
      <div class="general-stats">
        <p class="general-title">VideoGame Genres</p>
        <button class="btn-total-drop"
                type="button"
                data-toggle="collapse"
                data-target="#collapseGenresPieTotal"
                aria-expanded="false"
                aria-controls="collapseGenresPieTotal"><i class="fa fa-pie-chart"></i> Total</button>
        <div class="collapse" id="collapseGenresPieTotal">
          <div class="pie-total-holder">
            <div class="pie-total-item" *ngFor="let data of productVideoGameData">
              {{data.name}}: {{data.value}}
            </div>
          </div>
        </div>
        <ngx-charts-pie-chart
          [results]="productVideoGameData"
          [legend]="false"
          [view]="[300, 200]"
          [labels]="true"
          [doughnut]="true"
          [gradient]="true">
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>
</div>
