<div class="component-holder">
  <app-search-product></app-search-product>
  <div class="pagination-container">
    <div class="pagination-controls">
      <ngb-pagination
        [(page)]="pageNr"
        [pageSize]="pageSize"
        [collectionSize]="totalElements"
        [maxSize]="3"
        [rotate]="true"
        [boundaryLinks]="true"
        [ellipses]="false"
        (pageChange)="listProducts()">
        <ng-template ngbPaginationFirst><i class="fa fa-angle-double-left"></i></ng-template>
        <ng-template ngbPaginationLast><i class="fa fa-angle-double-right"></i></ng-template>
        <ng-template ngbPaginationPrevious><i class="fa fa-angle-left"></i></ng-template>
        <ng-template ngbPaginationNext><i class="fa fa-angle-right"></i></ng-template>
      </ngb-pagination>
    </div>
    <div class="property-size">
      <div class="form-group">
        <label for="productPageSize">Page Size:</label>
        <select class="form-control" id="productPageSize" (change)="updatePageSize($event.target.value)">
          <option>1</option>
          <option selected="true">10</option>
          <option>20</option>
          <option>30</option>
          <option>40</option>
          <option>50</option>
        </select>
      </div>
    </div>
  </div>
  <div class="filter-outer-container">
    <button class="btn-filter"
            type="button"
            data-toggle="collapse"
            data-target="#collapseFilters"
            aria-expanded="false"
            aria-controls="collapseFilters"><i class="fa fa-filter"></i> Filters</button>
    <div class="filter-inner-container collapse" id="collapseFilters">
      <button class="btn-filter"
              (click)="onClearFilters()"><i class="fa fa-undo"></i> Clear All</button>
      <app-product-platform-menu></app-product-platform-menu>
      <app-price-filter></app-price-filter>
    </div>
  </div>
  <div class="card-holder">
    <div class="alert alert-danger general-error-container animate-opacity" *ngIf="error">
      <h4>An error occurred:</h4>
      <p>{{error}}</p>
      <button class="btn btn-danger" (click)="onHandleError()">Okay</button>
    </div>
    <div *ngIf="isLoadingProducts && !error" class="loader-wrapper animate-opacity">
      <div class="loader">
        <span></span>
        <span></span>
        <span></span>
      </div>
      Loading...
    </div>
    <div
      class="property-card animate-opacity"
      *ngFor="let product of products">
      <a routerLink="/products/{{product.id}}">
<!--        Optional may use later-->
<!--        <div class="p-state-container state-available" *ngIf="product.active">-->
<!--          <i class="fa fa-check"></i> Available-->
<!--        </div>-->
<!--        <div class="p-state-container state-unavailable" *ngIf="!product.active">-->
<!--          <i class="fa fa-ban"></i> Unavailable-->
<!--        </div>-->
        <div
          class="property-image"
          [style.background-image]="'url('+product.imageUrl+')'">
          <div class="property-image-title">

          </div>
        </div>
      </a>
      <div class="property-description">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <p class="property-platform">{{product.productPlatform.name | firstToUpper}}</p>
          <p class="property-price">{{product.price | currency: 'EUR'}}</p>
        </div>
      </div>
      <div class="property-name">
        {{product.name}}
      </div>
    </div>
  </div>
</div>
